<div class="row">
	<div class="col-md-12">	



		<h1>Favorited by:</h1>
			
{{#each this}}

				<div id="{{this.uid}}" class="jumbotron user_snippet">
	  				<img src="{{this.image}}" class="prof_thumbnail favorited_image_snippet">
	  				<div class="snippet_text">
						<p> Name: {{this.nameSuper}}</p>
						<p> Gender: {{this.gender}}</p>
						<p> Superpower: {{this.superPower}}</p>
	  				</div>
					<button class="btn">Check'em out!</button>		
				</div><!-- end user snippet-->
{{/each}}

	</div>
</div>	
