	
	<div id="user_p_display">
			<span id="kill_panel" class="glyphicon glyphicon-remove"></span>
			<div class="row">
                  <div class="col-md-4 column" id="column1">
                      <p id="name">Name: <span class="emph"> {{this.nameSuper}}</span></p>
                      <p id="secret-identity">Secret Identity: <span class="emph"> {{this.nameReal}}</span></p>
                      <p id="gender">Gender: <span class="emph"> {{this.gender}} </span></p>
                      <p id="species">Species: <span class="emph"> {{this.species}} </span></p>
                      <p id="location">Location: <span class="emph"> {{this.location}} </span></p>
                      <p id="nemesis">Nemesis: <span class="emph"> {{this.nemesis}} </span></p>
                </div> <!--End Column 1-->

                  <div class="col-md-4" id="column2">
                  <img id="profile-photo" src="{{this.image}}" />
                  <button id="like-button" class="btn"><span class="glyphicon glyphicon-heart"></span></button>
                 <p id="superPower">SuperPower: <span class="emph"> {{this.superPower}} </span></p>
                </div> <!--End Column 2-->

                <div class="col-md-4" id="column3">
                  <div id="interests-box">
                      <p id="interests">Interests: <span class="emph"> </span></p>
                  </div>
                  <div id="hobbies-box">
                      <p id="hobbies">Hobbies: <span class="emph"> </span></p>
                  </div> 
                </div> <!--End Column 3-->

            </div> <!--End Row-->

		</div>